body {
  color: #757575;
  background: var(--white);
  font-family: "Roboto", "raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.adres-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .adres-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.17;
    padding-left: 0%;
    margin-left: 345px;
    width: 321px;
    list-style: none;
  }
  .adres-list__mail {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    fill: #757575;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adres-list__mail:hover, .adres-list__mail:focus {
    color: var(--brand-color);
    text-decoration: none;
    fill: var(--color2, #2196f3);
  }
  .adres-list__phone {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    display: flex;
    fill: #757575;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adres-list__phone:hover, .adres-list__phone:focus {
    color: var(--brand-color);
    text-decoration: none;
    fill: var(--color2, #2196f3);
  }
  .adres-list li:first-child {
    margin-right: 30px;
  }
}
.envelope {
  margin-right: 10px;
}

.smartphone {
  margin-right: 10px;
}

.button {
  background: var(--brand-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-top: 30px;
}
.button--modal {
  margin-left: 124px;
}
.button__portfolio {
  font-weight: 500;
  font-family: "Roboto";
  border-style: none;
  background: #f5f4fa;
  line-height: 1.62;
  border-radius: 0px 0px 4px 4px;
  padding: 6px 22px 6px 22px;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__portfolio:active {
  background: var(--brand-color);
}
.button__portfolio:hover, .button__portfolio:focus {
  color: var(--white);
  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-buttons {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-bottom: 50px;
}
.section-buttons li:nth-child(1n+2) {
  margin-left: 8px;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.cards li:nth-child(-n+6) {
  margin-bottom: 30px;
}
.cards li {
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards li:hover, .cards li:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.cards__figure {
  background: #ffffff;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  z-index: 1001;
}
.cards__figcaption {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  z-index: 1002;
  position: relative;
}
.cards__figcaption--head {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
  line-height: 2;
  margin-left: 24px;
}
.cards__figcaption--text {
  line-height: 1.87;
  margin-left: 24px;
  margin-bottom: 20px;
}
.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-color);
  opacity: 90%;
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__overlay p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 24px 49px 24px;
}
.cards__figure:hover .cards__overlay, .cards__figure:focus .cards__overlay {
  transform: translatey(0);
}

.figcaption1 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
}

.portfolio-section {
  display: flex;
}

.clients {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.clients__client-icon {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__client-icon:hover, .clients__client-icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.description {
  list-style: none;
  text-align: left;
  line-height: 1.71;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0%;
  margin-top: 0px;
  margin-bottom: 94px;
}
.description__headline {
  font-weight: 700;
  line-height: 1.17;
  color: var(--black);
  margin-bottom: 10px;
}
.description li {
  flex: 0 0 100%;
  max-width: 100%;
  text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .description {
    list-style: none;
    text-align: left;
    line-height: 1.71;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0%;
    margin-top: 0px;
    margin-bottom: 94px;
  }
  .description__headline {
    font-weight: 700;
    line-height: 1.17;
    color: var(--black);
    margin-bottom: 10px;
  }
  .description li {
    flex: 0 0 50%;
    max-width: 50%;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .description {
    list-style: none;
    text-align: left;
    line-height: 1.71;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0%;
    margin-top: 0px;
    margin-bottom: 94px;
  }
  .description__headline {
    font-weight: 700;
    line-height: 1.17;
    color: var(--black);
    margin-bottom: 10px;
  }
  .description li {
    flex: 0 0 25%;
    max-width: 25%;
    text-decoration: none;
  }
  .description li:nth-child(2n+0) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    list-style: none;
    text-align: left;
    line-height: 1.71;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0%;
    margin-top: 0px;
    margin-bottom: 94px;
  }
  .description__headline {
    font-weight: 700;
    line-height: 1.17;
    color: var(--black);
    margin-bottom: 10px;
  }
  .description li {
    flex: 0 0 25%;
    max-width: 25%;
    text-decoration: none;
  }
  .description li:nth-child(1n+2) {
    margin-left: 30px;
  }
}
.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link__title {
  color: var(--brand-color);
}
.logo-link:hover, .logo-link:focus {
  color: var(--brand-color);
}
.logo-link--color {
  color: var(--brand-color);
}
.logo-link--color:hover, .logo-link--color:focus {
  color: var(--white);
}
.logo-link--color--color {
  color: var(--white);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  position: relative;
}
.modal-form__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
}
.modal-form__label:focus-within svg {
  fill: var(--brand-color);
}
.modal-form__label {
  font-size: 12px;
  font-weight: 400;
}
.modal-form__input {
  height: 40px;
  width: 448px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus, .modal-form__input:hover {
  border: 1px solid #2196f3;
  fill: var(--brand-color);
  outline: none;
}

.name {
  position: absolute;
  top: 107px;
  left: 15px;
}

.telefon {
  position: absolute;
  top: 174.26px;
  left: 14.27px;
}

.modal-email {
  position: absolute;
  top: 243px;
  left: 13.5px;
}

.input1:checked + .label2::before {
  background-color: var(--brand-color);
  background-image: url(../images/vector.svg);
  background-position: 50% 50%;
  border: none;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.label2 {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.label2::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 8px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  margin-top: 4px;
  font-size: 12px;
  height: 120px;
  resize: none;
  padding-top: 1rem;
  padding-left: 1rem;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus, .textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: scale, opacity, transform;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn,
.x {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 490px;
  top: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 15px;
  display: block;
  justify-items: center;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, scale, opacity;
  transform: translate(-50%, -50%);
}

.is-hidden .modal {
  transform: translate(-50%);
  transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-left: 93px;
  }
  .navigation__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    list-style: none;
    color: var(--shadow2);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 254px;
    transition: color;
  }
  .navigation__link {
    text-decoration: none;
    color: var(--shadow2);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover::after, .navigation__link:focus::after {
    content: "";
    display: block;
    position: relative;
    border-top: 4px solid var(--brand-color);
    border-radius: 2px;
    top: 31px;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--brand-color);
    text-decoration: none;
  }
  .navigation__link--active {
    text-decoration: none;
    color: var(--brand-color);
  }
  .navigation__link--active::after {
    content: "";
    display: block;
    position: relative;
    border-top: 4px solid var(--brand-color);
    border-radius: 2px;
    top: 31px;
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin-left: 70px;
  margin-top: 13px;
}

.newsletter-form {
  height: 50px;
  display: flex;
  padding-top: 20px;
}
.newsletter-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-form__input:focus, .newsletter-form__input:hover {
  border: 1px solid var(--brand-color);
  outline: none;
}
.newsletter-form__button {
  background: var(--brand-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-left: 12px;
}
.newsletter-form__send {
  fill: #fff;
  margin-left: 24px;
}

.product {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0%;
  margin-top: 50px;
}
.product li {
  text-decoration: none;
  position: relative;
}
.product__box-overlay {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 1%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: flex;
}

.products {
  display: none;
}

@media screen and (min-width: 768px) {
  .products {
    display: block;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 18px;
}
.social-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  margin-right: 10px;
  transition-property: fill, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.social-list__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  display: flex;
  color: currentColor;
  justify-content: center;
  align-items: center;
}

.team {
  text-align: center;
  list-style: none;
  display: flex;
  padding-left: 0%;
}
.team__section {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team li {
  text-decoration: none;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team li:nth-child(1n+2) {
  margin-left: 30px;
}
.team__figure {
  margin: 0;
  margin-bottom: 30px;
}
.team__figure--img {
  margin-bottom: 30px;
}
.team__figcaption {
  font-weight: 500;
  text-align: center;
  color: var(--black);
  line-height: 1.17;
}
.team__figcaption--p {
  margin-top: 10px;
}

.footer1 {
  background: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  display: flex;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 13px;
}

.footer2 {
  display: flex;
}

.footer-adres-list {
  list-style: none;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0%;
}

.footer-adres-list li {
  margin-bottom: 9px;
}

.mail1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail1:hover, .mail1:focus {
  color: var(--brand-color);
  text-decoration: none;
}

.phone1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone1:hover, .phone1:focus {
  color: var(--brand-color);
  text-decoration: none;
}

.section1 {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/Background480x400.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section1 {
    height: 400px;
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/Background768x400.jpg");
  }
}
@media screen and (min-width: 768px) {
  .section1 {
    height: 600px;
    background-image: linear-gradient(rgba(98, 100, 110, 0.4), rgba(98, 100, 110, 0.4)), url("../images/Background1600x600.jpg");
  }
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
}

.headline2 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.section > .section1 {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section > .section1 {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section > .section1 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section > .section1 {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.header > .container {
  height: 80px;
  display: flex;
  align-items: center;
}

.header {
  background: var(--white);
  border-bottom: 1px solid #ececec;
}

:root {
  --white: #fff;
  --brand-color: #2196f3;
  --black: #000;
  --shadow: #2f303a;
  --shadow2: #212121;
}/*# sourceMappingURL=main.css.map */