.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-adres-list {
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}
.footer-links {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 42px;
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white);
  
}
.footer1 {
  background: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white);
  display: flex;
}
@media screen and (min-widtch: 768px) {
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

}
.footer2 {
  display: flex;
}
.footer-adres-list {
  list-style: none;
  line-height: 1.17;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0%;
}
}
.footer-adres-list li {
  margin-bottom: 9px;
}
.mail1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
    text-decoration: none;
  }
}
.phone1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
    text-decoration: none;
  }
}
