.header {
  height: 80px;
  display: flex;
  align-items: center;
  }
.header {
  background: var(--white);
  border-bottom: 1px solid #ececec;
}
.menu-toggle {
  position: absolute;
  right: 23px;
  top: 30px;
  border: none;
  background: none;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      }
  .menu-toggle {
    display: none;
  }
}
.menu {
  fill: black;
  &:hover,
  &:focus {
    fill: var(--brand-color);
  }
}
