.header > .container {
  height: 80px;
  display: flex;
  align-items: center;
}
.header {
  background: var(--white);
  border-bottom: 1px solid #ececec;
}
.hamburger {
  position: absolute;
  top: 30px;
  left: 400px;
}
.menu {
  fill: black;
}
@media screen and (min-width: 480px) {
  .hamburger {
    display: none;
  }
}
