.button {
  background: var(--brand-color);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
  border-radius: 4px;
  border-style: none;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  &--modal {
    margin-left: 124px;
  }
  &__portfolio {
    width: 100%;
    font-weight: 500;
    font-family: "Roboto";
    border-style: none;
    background: #f5f4fa;
    line-height: 1.62;
    border-radius: 0px 0px 4px 4px;
    padding: 6px 22px 6px 22px;
    transition-property: color, background-color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active {
      background: var(--brand-color);
    }
    &:hover,
    &:focus {
      color: var(--white);
      background-color: var(--brand-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
}
.section-buttons {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0%;
  padding-bottom: 50px;
  & li {
    flex-basis: calc((100% - 30px) / 3);
  }
  & li:nth-child(1n + 2) {
    margin-left: 8px;
    margin-bottom: 15px;
  }
  & li:nth-child(4) {
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .section-buttons {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0%;
    padding-bottom: 50px;
    & li:nth-child(1n + 2) {
      margin-left: 8px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-buttons {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0%;
    padding-bottom: 50px;
    & li:nth-child(1n + 2) {
      margin-left: 8px;
    }
    & li {
      flex-basis: calc((100% - 314px) / 6);
    }
  }
}
