.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    background: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-property: scale, opacity, transform;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .close-btn {
    position: absolute;
    background-color: #fff;
    cursor: pointer;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .close-btn,
  .x {
    width: 30px;
    height: 30px;
    position: absolute;
    
    top: 8px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 15px;
    display: block;
    justify-items: center;
  }
   .modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    left: 50%;
    top: 50%;
  background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform, scale, opacity;
    transform: translate(-50%, -50%); 
}
@media screen and (min-width: 768px){
  .modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
      }
    }
@media screen and (min-width: 1200px){
  .modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
      }
    }
  .is-hidden .modal {
    transform: translate(-50%, -50%);
    transition: 250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
      