.product {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0%;
  margin-top: 50px;
  & li {
    text-decoration: none;
    position: relative;
  }
  &__box-overlay {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 1%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
  }
}
.products {
  display: none;
}
@media screen and(min-width: 1200px) {
  .products {
    display: block;
  }
}
