@media screen and(min-width: 1200px) {
.team {
  text-align: center;
  list-style: none;
  display: flex;

  padding-left: 0%;
  &__section {
    background: #f5f4fa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  & li {
    text-decoration: none;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  & li:nth-child(1n + 2) {
    margin-left: 30px;
  }
  &__figure {
    margin: 0;
    margin-bottom: 30px;
    &--img {
      margin-bottom: 30px;
    }
  }
  &__figcaption {
    font-weight: 500;
    text-align: center;
    color: var(--black);
    line-height: 1.17;
    &--p {
      margin-top: 10px;
    }
  }
}
}
.team{
  display: flex;
  flex-direction: column
  }
  @media screen and(min-width: 768px) and(max-width: 1200px) {
    .team{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }