.team {
  display: flex;
  flex-basis: auto;
  list-style: none;
  flex-wrap: wrap;
  &__section {
    background: #f5f4fa;
  }
  & > li {
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
    text-decoration: none;
    margin-bottom: 30px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__figure {
    margin: 0 0 0 0;
    margin-bottom: 30px;
    &--img {
      margin-bottom: 30px;
      width: 100%;
          }
  }
  &__figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;

    color: var(--black);
    line-height: 1.17;
    &--p {
      font-weight: 400;
      margin-top: 10px;
      color: var(--p);
    }
  }
}
@media screen and(min-width: 768px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__figure--img{
      
          }
  }
}
@media screen and(min-width: 1200px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
