body {
  color: #757575;
  background: var(--white);
  font-family: "Roboto", "raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and(min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and(min-width: 1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
